.sidebar{
    position: fixed !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dash-nav-collapse{

    background: #f4f7fc;
    border-radius: 5px;
    padding: 20px 40px;
    z-index: 99999;
}
.nav-flex{
    flex-direction: column !important;
}
.sidebar li a{
    margin-bottom: 2em;
    color: #111 !important;
}
.dashboard-sidebar a:hover, .dashboard-sidebar a:active {
    color: #7AB259 !important;
}
.dashboard-sidebar a svg {
    margin-right: 10px !important;
}
.dashboard-sidebar a {
    color: #263238!important;
}
/* .navbar-nav a:hover {
    color: #7AB259 !important;
} */
@media screen and (max-width: 768px) {
    /* .sidebar{
        position: absolute !important;
        display: flex;
        flex-direction: row !important;

    } */
    .sidebar-panel {
        margin-bottom: 150px;
    }
    /* .nav-flex{
        flex-direction: row;
    } */
  }