.review-title{
    font-family: Poppins;
font-weight: 600;
font-size: 34px;
line-height: 43px;
color: #2D2D2D;

}
.review-card-container {
    margin-bottom: 30px;
}
.review-title span{
color: #7AB259;
}
.review-box{
    margin-top: 70px;
}
.review-card {
    padding: 35px !important;
}
.client-details img {
    width: 70px;
    border-radius: 50px;
    margin-bottom: 14px;
}
.client-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.client-description p {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .review-card-container{
        margin-bottom: 30px;
    }
    .client-details.row {
        display: flex;
        justify-content: center;
    }
    .client-description p {
        text-align: center;
    }
  }